<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
	<project name="Bibtex Entry Manager">
        <triggers>
            <intervalTrigger seconds="60" buildCondition="IfModificationExists" initialSeconds="30" />
        </triggers>
		
		<workingDirectory>D:\shares\Users\johnny\Level4Project\ProjectCheckout</workingDirectory>
		<artifactDirectory>D:\shares\Users\johnny\CCNet</artifactDirectory>
		<webURL>http://foe.doesntexist.com/ccnet/server/local/project/Bibtex%20Entry%20Manager/ViewLatestBuildReport.aspx</webURL>
		
		<sourcecontrol type="svn">
			<trunkUrl>https://bibman.svn.sourceforge.net/svnroot/bibman</trunkUrl>
			<workingDirectory>D:\shares\Users\johnny\Level4Project\ProjectCheckout</workingDirectory>
		</sourcecontrol>

		<tasks>
			<msbuild>
				<executable>C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
				<workingDirectory>D:\shares\Users\johnny\Level4Project\ProjectCheckout</workingDirectory>
				<projectFile>bibtex.proj</projectFile>
				<targets>Build</targets>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
			</msbuild>       
		</tasks>
	</project>
</cruisecontrol>